
$background-color: azure;
$primary-color: cornflowerblue;

$border-radius: 20px;

$padding-horizontal: 20px;
$padding-vertical: 10px;
$padding: 20px;

$gap-text: 10px;
$gap-other: 20px;

$font-family: Halvetica, sans-serif;

$shadow: 0 4px 8px rgba(0, 0, 0, 0.4);